@import 'variables';
@import 'reset';

@mixin important-text {
    color: red;
    font-size: 25px;
    font-weight: bold;
}

@mixin bordered($color: green, $width: 1px) {
    border: $width solid $color;
}

.border-red {
    @include bordered(red, 2px)
}

.border-blue {
    @include bordered(blue, 2px)
}

.border {
    @include bordered()
}

.button {
    border: none;
    padding: 15px 30px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.button--report {
    @extend .button;
    background-color: red;

}

.button--submit {
    @extend .button;
    background-color: green;
    color: white;
}


.header {
    background-color: $bg-color;

    &__container {
        max-width: 1180px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
    }

    &__logo,
    &__link {
        text-decoration: none;
        color: $text-primary-color;
    }

    &__logo {
        font-size: 24px;
    }

    &__list {
        list-style-type: none;
        display: flex;
        justify-content: center;
    }

    &__item {
        margin: 0 10px;
    }

    &__link {
        @include important-text();
        font-size: 18px !important;
    }

    &__icon-container {
        display: flex;
    }

    &__icon-item {
        margin: 0 8px;
    }
}